<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>

<form  class='form-register' action="/login" method="post">
    <h3></h3>
    <p>账号 <input type = "text" name = "name" placeholder="输入账号" /></p>
     <p>密码 <input type="password" class="form-control" name="password" placeholder="请输入密码"></p>
     <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">登录</button>
    </div>
  </div>

</form>
</body>
</html>